	
	<h1>Angular + IO</h1>
	<cite>Accelerating content through sockets, good-bye ajax!</cite>
	
	<h2>The MAIN Stack Framework</h2>
	<a id="download" href="/MAIN.0.8.1.zip">Download MAIN.0.8.1.zip</a>
	<p>
		<strong>ng-io.com</strong> is the home of the MAIN stack framework, which was 
		created to make Angular and Web Sockets work together seemlessly. It revolutionizes 
		how we do things by making the &lt;form> tag and AJAX a thing of the past! This site, 
		which is a complete working example of it, is here to educate you about how to do 
		it all. Here's an overview of all the files:
	</p>
	
	<file-browser></file-browser>
	
	<h2>Workflow & Compilation with Grunt</h2>
	<p>
		I am using Grunt in my workflow, which is a task runner, to perform the 
		translation of the less styles and the consolidation of all the scripts found 
		in the source folder so that index.html points to a single styles.css and 
		minified script.js file. You could skip these steps and just keep everything in 
		the www/ folders instead.
	</p>
	<p>
		&#8680; Learn more about Grunt at: <a href="http://gruntjs.com" target="_blank">gruntjs.com</a>
	</p>
	
	<h2>What Else?</h2>
	<p>
		I will also soon be adding the ability to use browser history so that the URL will 
		change and resolve as expected for individual pages or app states. There will be 
		the option to have those requests sent out hard-coded too so that SEO efforts will 
		still be effective. Until then, this is working beautifully already. Be sure to 
		explore the rest of the site to learn more. Enjoy!
	</p>
